* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "crashnumber";
  src: url(fonts/Crashnumber-bold.ttf) format("truetype");
}

html {
  overflow: hidden;
}

body {
  background-color: rgb(199, 199, 199);
}

#frame {
  position: relative;
  background: rgb(129, 191, 254);
}

#map {
  min-width: 100%;
  min-height: 100%;
  transition: 1s;
  /*
  background: url("https://psv4.userapi.com/c520036/u467135438/docs/d1/f299cd7fc4fc/karta_12_khod.png");
  */
}
#map__img {
  cursor: move;
  position: relative;
}

#menu {
  display: grid;
  grid-gap: 1.5vmin;
  grid-template-columns: auto 1.5vmin;
  grid-template-rows: auto auto;

  position: absolute;
  z-index: 10;
  top: 3vmin;
  left: 3vmin;
}

.menu__item,
#menu__moves .move {
  color: white;
  background-color: rgba(9, 7, 7, 0.7);
}

#menu__moves {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 0.5vmin;
  grid-template-rows: repeat(20, 3.6vmin);
  grid-template-columns: 3.6vmin 3.6vmin;
}

#menu__settings {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5vmin;
  grid-template-columns: 3.6vmin 3.6vmin;
  grid-template-rows: 3.6vmin;
}

#menu__scrollbar {
  visibility: hidden;
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.button {
  padding-top: 30%;
  text-align: center;
  font-family: "crashnumber", monospace;
  font-size: 1.5vmin;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.move {
}

.icon {
  width: 1.5vmin;
  height: 1.5vmin;
  -webkit-filter: invert(1);
  filter: invert(1);
}
